<h3>Main Feed View</h3>

<div class="container">
      <div class="row">
            <div class="col-12">
                  <div id='map'></div> 
            </div>
           
      </div>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<script async defer src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script async defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer src="/js/maps.js"></script>
<script defer type="text/javascript">
setTimeout(() => {
      main(`{{{mapBoxToken}}}`)
}, 1500);
</script>

      <div class="row">
      {{#each image}}
            <div class="col-sm-5 col-md-4 ">
                  <div class="card mx-auto my-3" style="max-width: 18rem;">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{_id}}">
                              <img src="{{image}}" class="card-img-top" alt="placeholder text">
                        </a>
                        <div class="card-body">
                              <p class="card-text">Uploaded by: {{author.username}}</p>
                              <p class="card-text" id="imageLocation">{{location}}</p>
                              <p class="card-text fw-light">{{description}}</p>
                        </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                    <div class="modal-body">
                                          <img src="{{image}}" style="max-width: 100%;">
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!--End of Modal-->
            </div>
      {{/each}}
      </div>
</div>